.content {
    min-height: 900px;
    width: 90%;
    background-color: #F9D0A3;
    margin: auto;
    padding-top: 200px;
    padding-left:5% ;
    padding-right:5% ;
}

.about {
    background-color: whitesmoke;
    padding: 15px;
    box-shadow : 0 5px 15px rgb(0, 0, 0, 0.35);
}

p {
    margin-top: 2%;       
    margin-bottom: 0%;
}
