.navbar {

    background-color:white  !important;  
     
    background-repeat: no-repeat;
      background-size: cover;
       
  }

.nav-container {

    
}

.navbar-brand {

    color: #151217;
    font-family: Comfortaa;
    display: flex;
    background-color: whitesmoke ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:5px ;
    padding-bottom:5px ;
     
}

.navbar-brand:hover {

    
    transition: 0.3s;
    background-color: gainsboro;
    color: #151217 ;

}

.brand-title {

    font-size: 15px;
    padding-top: 15px;
    padding-left: 10px;
     
}

.NavbarLogo {

    border-radius: 25%;
    
}

.navbar-link-div {

    

}

.navbar-nav {

            width: 400px;
            justify-content: space-around ; 

}

.nav-link {
    width: 150px;
    color: #151217;
    font-size: 15px;
    font-family: Comfortaa;
    background-color: whitesmoke ;
     
     
}

.nav-link:hover {

    background-color: gainsboro;
    color: #151217 ;
     
}