
 
  .catalog {
    width : 90%;
    background-color : #151217;
    margin : auto;
  }
  .catalog-title {
    background-color : whitesmoke;
    padding-top : 30px;
    padding-bottom : 10px;
    width : 100%;
    margin : auto;
  }
  .catalog-container {
    background-color : whitesmoke;
    margin : auto;
    padding-top : 1%;
    width : 100%;
    height : 100%;
  }
  .section {
    max-width : 100%;
  }
  .catalog-nav {
    margin-bottom : 2%;
    background-color : whitesmoke;
  }
  .catalogSearchBar {
    margin-left : 5%;
    padding : 5px;
    border-radius : 8px;
    font-size : 150%;
    display : inline-block;
    width : 80%;
    border: none;
  }
  .catalogSearchBar:hover {
    box-shadow : 0 5px 15px rgb(0, 0, 0, 0.35);
    transition : 0.3s;
  }
  .productlist {
    display : flex;
    flex-wrap : wrap;
    background-color : whitesmoke;
    margin : auto;
    width : 90%;
  }
  .product {
    margin : auto;
    margin-bottom : 2%;
  }
  .filterButton {
    font-size : 80%;
    background-color : #FDD90B;
    margin-right : 1%;
    margin-left : 1%;
    margin-bottom : 1%;
  }
  .filterButton:hover {
    color : #DA001E;
    box-shadow : 0 8px 24px rgb(149, 157, 165, 0.2);
    transition : 0.3s;
  }
  .sortButton {
    font-size : 80%;
    background-color : #FDD90B;
    margin-bottom : 1%;
  }
  .sortButton:hover {
    color : #DA001E;
    box-shadow : 0 8px 24px rgb(149, 157, 165, 0.2);
    transition : 0.3s;
  }
  .col {
    margin-top : 25px;
    margin-bottom : 25px;
  }
  .card {
    margin : auto;
  }
  h2 {
    color : #151217;
    width : 35%;
    background-color : white;
    text-align : center;
    margin : auto;
    padding : 20px;
    font-size : 150%;
  }
  .price {
    background-color : #DA001E;
  }
  button {
    padding : 10px;
    color : black;
    background-color : red;
    border-radius : 8px;
  }
  @media (min-width: 500px) and (max-width: 1600px) {
  .catalogSearchBar {
    margin-left : 5%;
    padding : 10px;
    border-radius : 8px;
    font-size : 150%;
    display : inline-block;
    width : 90%;
  }
  .filterButton {
    margin-top : 1%;
    font-size : 80%;
    background-color : #FDD90B;
    margin-left : 5%;
  }
  .sortButton {
    margin-top : 1%;
    font-size : 80%;
  }
  }
  @media (max-width: 499px) {
  .catalog-title h2 {
    padding : 2px;
    font-size : smaller;
    margin-bottom : 0%;
    margin-top : 1%;
    width : 90%;
  }
  .catalogSearchBar {
    width : 99%;
    margin : auto;
    font-size : smaller;
  }
  .filterButton {
    margin-top : 3%;
    font-size : 40%;
    margin-bottom : 3%;
  }
  .sortButton {
    margin-top : 3%;
    font-size : 40%;
    margin-bottom : 3%;
  }
  .catalog-title {
    background-color : whitesmoke;
    padding-top : 1%;
    padding-bottom : 1%;
    width : 100%;
    margin : auto;
  }
  }
  
   